services:
  web:
    build: .
    container_name: tshirt_web
    command: >
      sh -c "
      python manage.py migrate &&
      python manage.py runserver 0.0.0.0:8000"
    ports:
      - "8000:8000"
    volumes:
      - .:/code
    depends_on:
      - db
      - redis
    env_file:
      - .env

  db:
    image: postgres:14
    restart: always
    container_name: tshirt_postgres
    env_file:
      - .env
    environment:
      POSTGRES_DB: tshirt_db
      POSTGRES_USER: tshirt_user
      POSTGRES_PASSWORD: tshirt_pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    restart: always
    container_name: tshirt_redis
    ports:
      - "6379:6379"

  celery:
    build: .
    container_name: tshirt_celery
    command: celery -A config worker -l info
    volumes:
      - .:/code
    depends_on:
      - redis
      - db
    env_file:
      - .env

volumes:
  postgres_data: